{% load cms_tags sekizai_tags menu_tags %}
{% load slicefilters %}
<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//s7.addthis.com/static/r07/widget086.css" rel="stylesheet">
		{% if debug %}
			<link rel="stylesheet/less" type="text/css" href="/layout/css/styles.less">
			<script src="/layout/js/less.js"></script>
		{% else %}
			<link rel="stylesheet" type="text/css" href="/layout/css/styles.css">
		{% endif %}
		<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/layout/js/bootstrap.min.js"></script>
		<script src="/layout/js/equal-columns.js"></script>
		{% render_block "css" %}
		{% if not debug %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33163440-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}
	</head>
	<body class="background">
        {% if messages %}
            {% for message in messages %}

            <div class="modal hide fade showmodal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h1>{{ message|before:";" }}</h1>
                </div>
                <div class="modal-body">
                    <p>{{ message|after:";" }}</p>
                </div>
            </div>

            {% endfor %}
        {% endif %}


		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Social Schools</a>
					<div class="nav-collapse in collapse">
						<ul class="nav">
							{% show_menu 0 100 100 100 %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		{% placeholder payoff %}

		<div>
			{% block base_content %}
				{% placeholder base_content %}
			{% endblock %}
		</div>

		{% render_block "js" %}

			<div class="container box">
	<div class="box-inner">
		<div class="row" id="homerow">
			<div class="span5">
				<div class="first">
					<h1>Delen, leren,<br> bouwen, spelen.<br> Communiceren</h1>
					<h3>Social Media Platform voor het primair onderwijs</h3>
					<p>Een school is een 'sociaal netwerk' en opgebouwd uit sub-communities zoals een stichtingsbestuur, het personeel, de schoolraad, een schoolbestuur, de groepen, ouders
					en leerlingen.</p>
					<p>Social Schools van Changer is een communicatieplatform speciaal ontwikkeld voor basisscholen. Social Schools geeft het sociale netwerk van de school een veilig online platform waar
					iedereen met elkaar kan communiceren.</p>
					<p> Met Social Schools wordt communiceren leuk en makkelijk. Ouders raken betrokken bij het schoolleven van hun kinderen en leerkrachten raken betrokken
					bij de ouders en de leefomgeving van de leerlingen.</p>
					<p> Scholen, ouders, leerkrachten en kinderen doen met Social Schools veilig ervaring op met social media.
					</p>
				</div>
			</div>
			<div class ="span7">
				<div id="screenshot"><img src="/layout/img/screenshot3.png" alt="Social Schools"/></div>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="box">
					<div class="box-inner inside">
						<h2> <strong>Webinar</strong> 'Introductie in Social Media voor basisscholen'</h2>
						<div class="location-date clearfix">
							<div class="date"><strong>13</strong><br>Dec</div>
							<div class="location">
								<div class="location-inner">tijd: 14:00-15:00</div>
							</div>
						</div>
						<div class="btn-group btn-fixed margin30">
							<a class="btn btn-inverse" href="/workshop/#aanmelden">AANMELDEN</a>
							<a class="btn btn-inverse" href="/workshop/">SPREKERS</a>
						</div>
					</div>
				</div>
			</div>
			<div class="span8">
				<div class="last margin30">
					<h3>Hoe werkt Changer Social Schools</h3>
					<p>Social Schools wordt geleverd met een website voor de stichting, een site per school en een persoonlijke site voor ieder lid van de school-community. Bestuurders, stafmedewerkers,
					ict-medewerkers, leerkrachten en andere betrokkenen bij de school kunnen nieuwsberichten publiceren. Maar ook afspraken maken met ouders, foto's uploaden van schoolevenementen en zelfs chatten met elkaar.
					Social Schools stimuleert ouderbetrokkenheid door ouders online toegang te geven tot informatie van hun kinderen. Uit onderzoek blijkt dat betrokken ouders positieve invloed hebben op de schoolprestaties en werkhouding van leerlingen.
					</p>
				</div>
					<div class="row margin40">
						<div class="span4">
							<!-- <div class="btn-group" id="functieskosten">  -->
								<a id="functieskosten" class="btn btn-primary" href="/functies/">FUNCTIES</a>
								<!--  <button class="btn btn-inverse">KOSTEN</button> -->
							<!--  </div> -->
						</div>
						<div class="span4 share-buttons clearfix">
							<div class="tweet-count">
								<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
							<div class="fb-like" data-href="http://www.socialschools.nl" data-send="false" data-layout="box_count" data-width="40" data-show-faces="true">
							</div>
							<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="http://www.socialschools.nl"></div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="container box">
	<div class="box-inner">
		<div class="row">
			<div class="span5">
				<div class="first">
						<h2>De school in controle, de gebruiker centraal</h2>
						<p>"Je bent als school veel meer bezig met de berichtgeving naar buiten. Wat vertel ik? Welke leuke dingen heb ik te vertellen? Met Social Schools kijken ouders veel meer op de website om te zien wat hun kinderen bezig houdt."</p>
						<p>Lourenz Ruiter, directeur van basisschool Prins Willem Alexander te Waarder en projectleider van de social media portal omgeving van Stichting De Vier Windstreken.</p>
				</div>
			</div>
			<div class="span6 offset1">
				<div class="last">
					<div class="embed-iframe">
							<iframe src="http://player.vimeo.com/video/44918964?byline=0&amp;portrait=0&amp;color=e7e7d3" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span6">
				<div class="first">
					<img id="inhetkort" src="/layout/img/inhetkort2.png" alt="Social Schools in het kort"/>
				</div>
			</div>
			<div class="span6">
				<div class="last">
					<h2>Social Schools in het kort</h2>
					<ul>
						<li><p>Een eigentijde, dynamische website met een gebruiksvriendelijk Content Management Systeem</p></li>
						<li><p>Een afgeschermd interactief communicatie platform dat de scholengemeenschap faciliteert in een goede communicatie met ouders en leerlingen</p></li>
						<li><p>Bestuurders, stafmedewerkers, ict-medewerkers, leerkrachten en andere betrokkenen bij de school kunnen zelf berichten en afspraken aanmaken.</p></li>
						<li><p>Social Schools heeft een geautomatiseerde nieuwsbrief module die als vervanger dient van ouderwetse papieren nieuws- en schoolkranten</p></li>
					</ul>
				</div>
				<div class="btn-group margin30">
					<a class="btn btn-primary" href="/functies/">FUNCTIES</button>
					<a class="btn btn-inverse" href="http://demo.socialschools.nl">BEKIJK DE DEMO</a>
				</div>
			</div>
		</div>

		<!--
		<div class="row spacious">
			<div class="span4 offset2">
				<button class="btn btn-inverse">TECHNISCHE SPECIFICATIES</button>
			</div>
			<div class="span6">
				<div class="btn-group">
					<button class="btn btn-primary">FUNCTIES</button>
					<button class="btn btn-inverse">KOSTEN</button>
				</div>
			</div>
		</div>
		 -->
	</div>
</div>

<div class="container box">
	<div class="box-inner">
		<div class="row">
			<div class="span4">
				<div class="first bottomhome">
					<h3>Maak kopiëren overbodig</h3>
					<p>Social Schools draagt bij aan een beter milieu en duurzame communicatie.</p>
					<img id="recycling" src="/layout/img/recycling2.png" alt="Duurzame communicatie"/>
				</div>
			</div>
			<div class="span4">
				<div class ="bottomhome">
					<h3>Meer weten?</h3>
					<p>Wilt u meer weten over Social Schools? Neem dan contact met ons op via <strong>088 100 1300</strong> of email ons en wij nemen contact met u op</p>
					<div class="clearfix margin80">
						<a class="btn btn-inverse btnfloat" href="mailto:info@socialschools.nl">MAIL ONS</a>
						<div class="addthis_toolbox addthis_32x32_style addthis_default_style social-buttons">
							<a class="addthis_button_facebook_follow at300b" href="http://www.facebook.com/socialschools" target="_blank" title="Follow on Facebook"><span class=" at300bs at15nc at15t_facebook"><span class="at_a11y">Share on facebook</span></span><span class="addthis_follow_label">Facebook</span></a>
							<a class="addthis_button_twitter_follow at300b" target="_blank" title="Follow on Twitter" href="http://twitter.com/SocialSchools"><span class=" at300bs at15nc at15t_twitter"><span class="at_a11y">Share on twitter</span></span><span class="addthis_follow_label">Twitter</span></a>
							<a class="addthis_button_linkedin_follow at300b" href="http://www.linkedin.com/company/changer" target="_blank" title="Follow on Linkedin"><span class=" at300bs at15nc at15t_linkedin"><span class="at_a11y">Share on linkedin</span></span><span class="addthis_follow_label">Linkedin</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class ="bottomhome last">
				<h3>ParnasSys en Changer Social Schools</h3>
				<p>Er wordt een koppeling gemaakt met het leerlingvolgsysteem van ParnasSys. Zo kunnen ouders inloggen en op een veilige manier bij de informatie van hun kinderen.</p>
				<img src="/layout/img/parnassys.png">
			</div>
			</div>
		</div>
	</div>
</div>

		<!-- Place this tag after the last share tag. -->
		<script type="text/javascript">
			$(document).ready(function() {
				$('.showmodal').modal();
			});

			window.___gcfg = {lang: 'nl'};

			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>

		<!--[if lte IE 7]>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

		<script>
		CFInstall.check({
			preventPrompt: true,
			onmissing: GFC_Missing
		});

		 function GFC_Missing() {
				$('' +
					'<div class="container">' +
						'<div class="alert alert-error alert-block">' +
							'<button class="close" data-dismiss="alert">×</button>' +
							'<h3 class="alert-heading">Let op!</h3>' +
							'<p>U gebruikt een verouderde versie van internet explorer. Gebruik een andere browser of installeer de Google Chrome Internet Explorer plugin.</p>' +
							'<p><a href="http://www.google.com/chromeframe/" class="btn btn-primary">Google Chrome Plugin Installeren</a></p>' +
						'</div>' +
					'</div>' +
				'').prependTo(document.body);
		 };
		</script>
		<![endif]-->
	</body>
</html>