@import "bootstrap.less";

h1 {
	font-weight: 100;
	font-size: 40px;
	color: @grayDark;
	line-height: @baseLineHeight*3;
	margin-bottom: 20px;
}

h2 {
	color: @black;
	margin-bottom: 20px;
	line-height: @baseLineHeight*2.5;
	font-size: 34px;
	font-weight: normal;
}

h3 {
	color: @black;
	font-size: 24px;
	margin-bottom: 20px;
	line-height: @baseLineHeight*1.5;
}

h4 {
	color: @white;
	text-align: center;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: normal;
}

p {
	font-family: "arial",helvetica;
	font-size: 16px;
	line-height: @baseLineHeight*1.25;
	font-weight: 200;
	color: @socialtext;
}

.spacious {
	margin-top: 50px;
}

.agenda {
	padding: 10px;
	background: @white;
	.border-radius(5px);
	border: 1px solid @grayLighter;
	strong {
	line-height: 25px;
	font-size: 16px;
	font-weight: normal;
	color: @socialblue;
	display: block;
	float: left;
	height: 20px;
	}
	img{
	float: left;
	margin-right: 10px;
	height: 25px;
	}
	&.agendatop{
	margin-top: -10px;
	}
	&.agendabottom{
	margin-top: 10px;
	}
}

.box {
	margin-bottom: 30px;
	position: relative;
	z-index: 0;
	&:after, &:before {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		border: 4px solid white;
		top: -4px;
		left: -4px;
		padding: 0px;
		z-index: -1;
	}
	&:after {
		border: 0px;
		padding: 6px;
		left: -6px;
		top: -6px;
		#gradient > .vertical-three-colors(#fff, #fff, 50%, #aaa);
		z-index: -2;
	}
	.box {
		margin-left: 20px;
	}
	.box-inner {
		#gradient > .vertical(#fff, @socialgray);
		z-index: 0;
		padding-top: 50px;
		padding-bottom: 30px;
		small {
			font-size: 20px;
			color: @socialblue;
		}
	}
	.inside {
		padding: 20px;
		margin-left: 0px;
		h2{
			font-size: 32px;
		}
	}
}

@media (max-width: 767px) {
	.container.box {
		padding: 0px;
	}
	.row > .box, .row-fluid > .box {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 30px;
	}
}

.box-inside-content {
	#gradient > .vertical(#fff, @socialgray);
	padding: 20px;
}

.background {
	background: @socialgray;
}

#screenshot {
	margin-bottom: 20px;
}

#functiesrule {
	margin-top: 0px;
	margin-bottom: 30px;
}

.btn-group{
	:first-child{
	border-right: 2px solid @white;
	}
}

.btn {
	padding-left: 50px;
	padding-right: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	font-size: 16px;
}

.btn-primary {
	background: @socialblue;
	&:hover {
	background: @black;
	}
}

.addthis_toolbox {
	.btn {
		padding-left: 10px;
		padding-right: 10px;
		float: left;
		margin-right: 20px;
	}
}

.btn-fixed{
	 .btn{
		width: 50%;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		.box-sizing(border-box);
	}
}

#inhetkort {
	margin-top: 30px;
}

.first {
	padding-left: 40px;
}

.last {
	padding-right: 40px;
}

.bottomhome {
	padding-right:20px;
	border-right: 1px solid @grayLighter;
	.last {
		border-right: none;
	}
}

.location-date{
	margin-bottom: 20px;
	.date, .location {
		float: left;
		height: 50px;
		padding: 5px 0px 5px 0px;
		line-height: 22px;
		position: relative;
	}
	.date {
		width: 20%;
		color: @white;
		background: @socialorange;
		.border-radius(5px 0px 0px 5px);
		text-align: center;
		font-size: 20px;
		strong {
			font-size: 30px;
		}
		width: 20%;
	}
	.location {
		.box-shadow(0 0 2px lighten(@grayLight, 20%) inset);
		background: @white;
		width: 80%;
		font-size: 17px;
		font-family: "Century Gothic", Helvetica;
		.location-inner{
		padding-left: 10px;
		padding-top: 4px;
		}
	}
}

#recycling {
	margin-bottom: -40px;
}

.icons{
	width: 32px;
	height: 32px;
	content:"";
	display: block;
	float:left;
	&:hover{
		opacity: 0.5;
	}
	.facebook{
		background: url("/static/img/facebook.png");
	}
	.twitter{
		background: url("/static/img/twitter.png");
	}
	.linkedin{
		background: url("/static/img/linkedin.png");
	}
}

.image-center {
	width: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#videoscherm {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#videocontainer {
	background: url("/static/img/scherm.png") center center no-repeat;
	background-size: contain;
	clear: both;
}

#videoplayer {
	display: block;
	width: 50%;
}

#video-center {
	margin-left: auto;
	margin-right: auto;
}

.box-video-thumbs{
	#gradient > .vertical(@socialdarkblue, @black);
	*[class*="span"] {
		div {
			padding: 20px;
		}
	}
}

.embed-iframe {
	position: relative;
	/* padding-bottom: 56.25%; for other aspect ratio */
	padding-bottom: 52.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 30px;
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#seminarmeerweten {
	margin-top: 40px;
}

.btnfloat{
	float:left;
}

.share-buttons{
	.tweet-count{
		float:left;
		margin-right: 20px;
	}
	.fb-like{
		float: left;
		margin-right: 12px;
	}
	.g-plus{
		float:left;
	}
}

.social-buttons{
	float: left;
	margin-left: 30px;
}

.connect_widget_number_cloud {
	.border-radius(4px);
}

#hostedby {
	margin-bottom: 40px;
	margin-top: 40px;
}

#functieskosten {
	margin-left: 40px;
}

.margin40 {
	margin-top: 40px;
}

.margin30{
	margin-top: 30px;
}

.margin50{
	margin-top:50px;
}

.margin20{
	margin-top: 20px;
}

.margin10{
	margin-top: 10px;
}

.margin80{
	margin-top: 80px;
}

#mc_embed_signup{
	body {
	font-family: "Helvetica", Arial, sans-serif;
	}
}
